body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	font-size: 1em;
	color: #424242;
	background-color: #eceeef;
	text-align: center;
}
body.full-screen { overflow: hidden; }

a { text-decoration: none; }
a:focus { outline: 0px; }

h1.gameName, h2.gameName {
	font-family: "EB Garamond", serif;
	margin: 0;
	color: black;
}
h1.gameName {
	font-size: 3.5em;
	padding: 0 50px;
}
h2.gameName { font-size: 2em; }

footer {
	padding: 30px 20px;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 1.5em;
	display: flex;
	flex-wrap: wrap;
	bottom: 0;
}

footer .social-link > a {
	width: 40px;
	height: 40px;
	border: 1px solid white;
	border-radius: 50%;
	margin: 5px;
	color: white;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
footer .social-link > a:hover {
	color: darkred;
	border-color: darkred;
}
footer img { width: 100px; }

.mirror { transform: scale(-1, 1); }

section.flexi-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
	width: 100%;
}

section .container {
	width: 100%;
	height: 100%;
}

#chips {
	justify-content: space-evenly;
    margin-bottom: 20px;
}
.chip {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	color: white;
	padding: 2px;
	transition: all .2s ease-in-out;
}
.chip.selected {
	transform: scale(1.2);
}
.chip-text {
	width: 55px;
	height: 55px;
	border: 3px solid white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}
.chip:nth-child(1) { background-color: #ec790e; }
.chip:nth-child(2) { background-color: #021976; }
.chip:nth-child(3) { background-color: #731e7b; }

#carpet {
	overflow-x: auto;
	justify-content: unset;
	background-color: #218964;
	padding-left: 10px;
	padding-right: 10px;
}

table {
	width: 100%;
	border-collapse: collapse;
	color: white;
	font-size: 1.2em;
}

table tr td,
table tr th {
	border: 3px solid #133826;
	padding: 5px 20px;
}
table tr th {
	background-color: #25a471;
	font-weight: normal;
}
table tr th.hide {
	border-width: 0px;
	background-color: #218964;
}

table tr td.win,
table tr th.win { border: 5px solid gold; }
table tr td.odd,
table tr td.even { width: 50px; }

table tr td.odd { background-color: black; }
table tr td.even { background-color: red; }

table tr:nth-last-child(2) { font-size: 1.5em; }

table tr td .bet,
table tr th .bet { pointer-events: none; }

table tr th.animate,
table tr td.animate {
	animation: flash 1s linear 0.3s;
}
table tr th.animate .bet.active,
table tr td.animate .bet.active {
	background-color: green;
	border-color: green;
}

@keyframes flash {
	25% { opacity: 0; }
	50% { opacity: 1; }
	75% { opacity: 0; }
}

.rhombus {
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	margin: 10px;
}
.rhombus div:nth-child(1) {
	width: 15px;
	height: 15px;
	transform: rotate(45deg);
}
.rhombus.red div:nth-child(1)  { background-color: red; }
.rhombus.black div:nth-child(1)  { background-color: black; }

.bet.active {
	font-size: 0.8em;
	font-style: italic;
	margin: 0 auto;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.chip:hover,
#carpet table.active tr td:hover,
#carpet table.active tr th:not(.hide):hover {
	transform: scale(1.2);
	transition: all .2s ease-in-out;
}

.col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 10px 0px;
}

/** from: https://codepen.io/pder/pen/WYrRQm **/
#wheelContainer { width: 50%; }
.wheel {
	height: 300px;
	width: 300px;
	position: relative;
}

.wheel .segment {
	display: inline-block;
    text-align: center;
    position: absolute;
    top: 0;
    left: calc(50% - (32px/2));
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    background-color: transparent;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top-style: solid;
    box-sizing: border-box;
}

.wheel .segment .number {
  color: #fff;
  padding-top: 12px;
  width: 32px;
  display: inline-block;
  font-size: 12px;
  -webkit-transform: scale(1, 1.8);
          transform: scale(1, 1.8);
  position: absolute;
  left: -16px;
}

#gameInfos {
	background-color: rgba(0,0,0, 0.5);
	margin-bottom: 20px;
	padding: 20px 0;
	width: 100%;
	color: white;
	justify-content: space-between;
}
#balance { padding-left: 20px; }
#payout { padding-right: 20px; }

#placeBetBtn {
	width: 200px;
	padding: 10px;
	border-radius: 10px;
	border-color: black;
	font-size: 1.2em;
}

.disabled,
button:disabled { opacity: 0.7; }

@media screen and (max-width: 768px) {
	.col { width: 100%; }

	.wheel .segment .number { top: -150px; }
	.wheel .segment { border-top-width: 150px; }
}
@media screen and (min-width: 768px) {
	section .container { width: 768px; }

	.wheel {
		width: 340px;
		height: 340px;
	}
	.wheel .segment .number { top: -170px; }
	.wheel .segment { border-top-width: 170px; }

	table tr,
	table tr td { padding: 5px 15px; };
	}
}
