body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	font-size: 1em;
	color: #424242;
	background-color: #eceeef;
	text-align: center;
}
body.full-screen { overflow: hidden; }

a { text-decoration: none; }
a:focus { outline: 0px; }

h1.gameName, h2.gameName {
	font-family: "EB Garamond", serif;
	margin: 0;
	color: black;
}
h1.gameName {
	font-size: 3.5em;
	padding: 0 50px;
}
h2.gameName { font-size: 2em; }

footer {
	padding: 30px 20px;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 1.5em;
	display: flex;
	flex-wrap: wrap;
	bottom: 0;
}

footer .social-link > a {
	width: 40px;
	height: 40px;
	border: 1px solid white;
	border-radius: 50%;
	margin: 5px;
	color: white;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
footer .social-link > a:hover {
	color: darkred;
	border-color: darkred;
}
footer img { width: 100px; }

.mirror { transform: scale(-1, 1); }

section.flexi-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
	width: 100%;
}

section .container {
	width: 100%;
	height: 100%;
}

.col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 20px 0px;
}

/** from: https://codepen.io/pder/pen/WYrRQm **/
#wheelContainer { width: 50%; }
.wheel {
	height: 350px;
	position: relative;
}

.wheel .segment {
	display: inline-block;
    text-align: center;
    position: absolute;
    top: 0;
    left: calc(50% - (32px/2));
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    background-color: transparent;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 170px solid black;
    box-sizing: border-box;
}
.wheel .segment:nth-child(even) { border-top-color: red; }
.wheel .segment:nth-child(20),
.wheel .segment:nth-child(1) { border-top-color: green; }

.wheel .segment .number {
  color: #fff;
  padding-top: 12px;
  width: 32px;
  display: inline-block;
  font-size: 12px;
  -webkit-transform: scale(1, 1.8);
          transform: scale(1, 1.8);
  position: absolute;
  top: -170px;
  left: -16px;
}

@keyframes rotate{
  0%{
    transform:rotateZ(0deg);
  }
  100%{
    transform:rotateZ(360deg);
  }
}

@media screen and (min-width: 768px) {
	section .container { width: 768px; }
}
